run-name: "PR-${{ github.event.number }}: ${{ github.event.pull_request.title }} (@${{ github.actor }})"

on:
  - pull_request

env:
  CARGO_TERM_COLOR: "always"

jobs:
  cargo-build-test-clippy:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: "`cargo build`"
        run: "${GITHUB_WORKSPACE}/crates/libgraphql-core/scripts/ci/on-pull-request.cargo-build.sh"

      - name: "`cargo test`"
        run: "${GITHUB_WORKSPACE}/crates/libgraphql-core/scripts/ci/on-pull-request.cargo-test.sh"

      - name: "`cargo clippy`"
        run: "${GITHUB_WORKSPACE}/crates/libgraphql-core/scripts/ci/on-pull-request.cargo-clippy.sh"

  report-test-coverage:
    needs: "cargo-build-test-clippy"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Install cargo-llvm-cov"
        uses: "taiki-e/install-action@cargo-llvm-cov"

      - uses: "actions/checkout@v4"

      - name: "Generate test coverage report"
        run: "${GITHUB_WORKSPACE}/crates/libgraphql-core/scripts/ci/on-pull-request.gen-test-coverage-report.sh"

      - name: "Upload test coverage report artifact"
        uses: "actions/upload-artifact@v4"
        with:
          if-no-files-found: "error"
          name: "Test Coverage Report"
          path: "target/llvm-cov"
          retention-days: 14
